.result_item {
    flex-basis: 48%;
    justify-content: space-between;
}

.result_item .result_block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.result_block .trip_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black ;
    margin-bottom: 1rem;
    flex-basis: 100%;
    align-items: flex-end;
}

.result_block .trip_header .region_name{
    font-size: 2em;
}

.result_block .region_image {
    width: 7em;
    height: 7em;
}

.result_block .region_image > img {
    width: 100%;
    height: 100%;
}


.result_block .cost {
    flex-grow: 1;
    padding-left: 1em;
}

.result_block .cost table {
    width: 100%;
    font-size: 18px;
}

.result_block .cost table tr > td:last-child {
    text-align: right;
}

.result_block .cost table tr.total {
    font-weight: bold;
    border-top: 1px solid black;
}

.result_item .feedback_block {
    margin-top: 2em;
    background-color: white;
    overflow: hidden;
}
