.data_page {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.data_group {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(50% - 2em);
    justify-content: space-between;
}

.data_group.standard,
.buttons{
    flex-basis: 100%;
}

.data_group > * {
    flex-grow: 1;
    flex-basis: 20%;
}

#region_map {
    height: 500px;
    width: 100%
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 1em;
}