.result_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.result_page_stretcher {
    min-height: calc(100vh - 120px); /* be a bit smaller, so we have space for the header*/
    width: calc(100% - 1em);
}

.result_page_stretcher .spinner{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
}
