.header {
    box-shadow: -5px 5px 30px 0 darkgray;
    z-index: 10000;
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
    padding: 0.5em;
    font-size: 2em;
    text-align: center;
    position: fixed;
    height: 7rem;
}

.header a {
    color: white;
}


.layout {
    padding-top: 7rem;
    display: flex;
    width: 100vw;
}

.header {
    width: 100vw;
}

.layout > .main {
    width: 90vw;
    margin-left: 5vw;
}

.use_box_shadow {
    border-radius: 5px;
    margin: 1em;
    box-shadow: -5px 5px 20px 0 rgba(0,0,0,0.5);
}

.border_box_block {
    border: 1px solid gray;
    padding: 1em;
    position: relative;
    border-radius: 1em;
}

.border_box_block > .block_header {
    position: absolute;
    top: -0.7em;
    left: 1em;
    background-color: inherit;
    padding: 0 0.5em;
}